* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: var(--bg-color) rgb(255, 255, 255);
    --tex-color: rgb(255, 255, 255);
    --main-color: Orange;
    --other-color: White;
    --h1-font: 4rem;
    --p-font: 1rem;
}

.custom-link {
    text-decoration: none !important; 
    color: var(--tex-color) !important; 
}

.custom-link:hover {
    color: var(--main-color) !important; 
    }

body{
   background-color: #ffe6ce;
   color: var(--tex-color);
}

header{
    margin-bottom: 10px;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    background-color: #635541;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-weight: bold;
    font-size: 28px;
    z-index: 1000 !important;
}
.logo i{
    color: #ff930581;
    font-size: 32px;
    margin-right: 5px;
}

.header-icons{
    display: flex;
    align-items: center;
    color: white;
}

#menu{
    font-size: 10px;
    color: var(--tex-color);
    z-index: 1000;
    cursor: pointer;
}

.header-icons i{
    margin-right: 35px;
    font-size: 35px;
    cursor: pointer;
    transition: all .5s ease;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.navbar {
    z-index: 1000;
    bottom:30px;
    right: 0px;
    background-color: #635541;
}

.bg-search {
    background-color: #ecf0f1; 
}

.btn-custom {
    background-color: #635541;
    color: #fff; 
    border-color: var(--main-color);
}

.btn-custom:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#carouselExampleFade {
    margin: top 5px;
}


.destaques {
    width: 90%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
.icone {
    display: inline-block;
    margin: 0 20px; 
    text-align: center; 
  }
  
.icone-link {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #673dff; 
    border-radius: 50%; 
    text-align: center;
    line-height: 100px; 
    background-size: cover; 
    background-position: center; 
  }
  
  .icone-link:hover {
    background-color: var(--main-color); 
  }
  
.icone span {
    display: block;
    margin-top: 1px; 
    color: black;
  }

footer {
    background-color:#635541;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.redes-sociais a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.redes-sociais a:hover {
    text-decoration: underline;
}

